body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header{
    width: 100%;
    height: auto;
    background-color: beige;
    text-align: center;
}

header h1{
    padding-top: 30px;
    margin-bottom: 5px ;
}


.grid-header{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px, 200px));
    justify-content: center;
    gap: 25px;
    text-align: justify;
}

main{
    width: 100%;
    height: auto;
    background-color: rgb(63 69 76);
}


.main-content{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    gap: 30px;
}

.item{
    width: 200px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
}

.item img{
    width: fit-content;
    height: 200px;

}

.item p{
    padding: 20px;
    
}